*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color-scheme: dark;
    color: white;
    margin: 0;
}

body{
    font-family: "Space Grotesk", system-ui, sans-serif;
    background-color: rgb(26, 26, 26);
    flex-direction: column;
}

body > *{
    padding: 20px;
}

body > header{
    border: 0px solid oklch(0.278 0.033 256.848);
    border-bottom-width: 1px;
}

body, body > header{
    display: flex;
}

body > header{
    align-items: center;
    gap: 10px;
}

body > header > img{
    background: linear-gradient(to right bottom, oklch(0.627 0.265 303.9) 0%, oklch(0.623 0.214 259.815) 100%);
    border-radius: 10px;
    aspect-ratio: 1/1;
    padding: 5px;
    width: 32px;
}

body > header > h1{
    font-size: clamp(10px, 1rem, 16px);
    font-weight: bold;
}