:root{
    --primary-text-colour: white;
    --secondary-text-colour: rgb(106, 114, 130);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text-colour);
    box-sizing: border-box;
    color-scheme: dark;
    margin: 0;
}

body{
    font-family: "Space Grotesk", system-ui, sans-serif;
    background-color: rgb(26, 26, 26);
    height: 600px;
    width: 400px;
}

body > *{
    padding: 20px;
}



/* ------- Layout -------- */

body > :is(header, footer){
    border: 0px solid oklch(0.278 0.033 256.848);
}

body,
body > header,
body > main,
body > footer > a{
    display: flex;
}

body, body > main{
    flex-direction: column;
}



/* ------- Header -------- */

body > header{
    border-bottom-width: 1px;
}

body > header{
    align-items: center;
    gap: 10px;
}

body > header > img{
    background: linear-gradient(to right bottom, oklch(0.627 0.265 303.9) 0%, oklch(0.623 0.214 259.815) 100%);
    border-radius: 10px;
    aspect-ratio: 1/1;
    padding: 5px;
    width: 32px;
}

body > header > h1{
    font-size: clamp(10px, 1rem, 16px);
    font-weight: bold;
}



/* -------- Body --------- */

body > main{
    flex-grow: 1;
}



/* ------- Footer -------- */

body > footer{
    border-top-width: 1px;
}

body > footer > a,
body > footer > a > svg > path{
    color: var(--secondary-text-colour) !important;
}

body > footer > a{
    justify-content: center;
    text-decoration: none;
    align-items: center;
    gap: 5px;
}